@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import "bower_components/uikit/less/uikit.less";
@import "bower_components/uikit/less/core/grid.less";
@import "bower_components/uikit/less/core/switcher.less";
@import "bower_components/uikit/less/core/tab.less";


@import "bower_components/uikit/less/components/dotnav.less";

@import "bower_components/uikit/less/components/slidenav.less";

@import "bower_components/uikit/less/components/slideshow.less";


@icon-font-path:                                "fonts";


@base-body-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-heading-font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;


/* Component LESS */
@import "pages/pages.less";
@import "articles/articles.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Personal preference for BS modal.  The LESS below makes the backdrop white and
   causes the modal to fade in rather than slide in. */
//@modal-backdrop-bg: white;
//.modal {
//	&.fade {
//		.transition(opacity .3s);
//	}
//	&.fade .modal-dialog {
//		.translate(0,0);
//	}
//}

body{
  overflow-x:hidden;
}

.logo {
	display: inline-block;
	float: left;
	font-size: 40px;
	padding:30px;
	padding-left: 0px;
	font-family: 'Shadows Into Light', cursive;
	/*font-family: 'Architects Daughter', cursive;*/
	color: #eee;
	&:hover {
		text-decoration:none;
		color: #ffffff;
	}
}

.secondary-nav {
	padding:0px;
	margin:0px;
	float: right;
	li {
		display: inline-block;
		padding-top: 30px;
		margin-left: 40px;
		a {
			
			font-size: 16px;
			color: #dddddd;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: inline-block;
			&:hover {
				text-decoration:none;
				color: #ffffff;
			}

		}
	}
}
.footer-blk {
	border-top:1px solid #dddddd;
	background-color: #f8f8f8;
	text-align: center;
}

.footer-nav {
	
	padding:0px;
	margin:0px;
	float: right;
	li {
		display: inline-block;
		padding: 20px 0px;
		margin-left: 15px;
		a {
			
			font-size: 16px;
			color: #aaa;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: inline-block;
			&:hover {
				text-decoration:none;
				color: #888;
			}

		}
	}
}
.footer-links {
	padding:0px;
	margin:0px;
	margin-top: 20px;
	float: left;
	li {
		display: inline-block;
		padding: 0px;
		margin-right: 5px;
		&:before {
			content:'\00B7';
			padding-right:5px;
		}
		&:first-child:before {
			content:'';
		}
		a {
			
			font-size: 13px;
			color: #555;
			text-transform: capitalize;
			letter-spacing: 1px;
			display: inline-block;
			&:hover {
				text-decoration:none;
				color: #222;
			}

		}
	}
}

.footer-copy {
	margin:20px 0px;
	display: inline-block;
	font-size: 12px;
	color: #aaa;
}



.cmn-toggle-switch {
	background: transparent;
	float: right;
	right: -15px;
  top: -15px;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 80px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 45px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -10px;
}

.cmn-toggle-switch span::after {
  bottom: -10px;
}

.cmn-toggle-switch__htx {
  /*background-color: #ff3264;*/
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
          transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
          transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active {
  /*background-color: #cb0032;*/
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
          transition-delay: 0, 0.3s;
}

.mob-nav {
	clear: both;
	position: absolute;
	left: 25px;
	right: 25px;
	/*height: 0px;*/
	display: none;
	top: 40px;
	/*overflow: hidden;*/
	li {
		a {
			display: block;
  			padding: 15px 0px;
  			font-size: 22px;
  			text-align: right;
  			color: #eee;
  			text-transform: uppercase;
  			border-bottom: 1px solid #888;
  			&:hover {
  				text-decoration:none;
  			}
  		}
  		&:last-child {
  			a {
  				border-bottom: 0px;
  			}
  		}
	}
}
@media (max-width: @breakpoint-small-max) {

	.header {
		a.logo {
			font-size: 30px !important;
			padding: 20px 0px;
		}
	}
	.header.active {
		/*background: rgba(0,0,0,.4);*/
		.mob-nav {
			/*height: auto;*/
		}
	}
	.footer-links {
		display: block;
    	text-align: center;
    	float: none;
	}

    .footer-nav {
    	display: block;
    	text-align: center;
    	float: none;
    	li {
    		/*padding:15px 10px;*/
    		padding:0px;
    		margin-left:0px;
    		margin:20px 5px;
    		a {
    			font-size: 20px;
    			width: 40px;
    			height: 40px;
    			line-height: 40px;
    			border: 1px solid #dddddd;
    			border-radius: 50%;
    		}
    	}
    }

}
/*! 
 * angular-loading-bar v0.7.1
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2015 Wes Cruver
 * License: MIT
 */

#loading-bar,#loading-bar-spinner{pointer-events:none;-webkit-pointer-events:none;-webkit-transition:350ms linear all;-moz-transition:350ms linear all;-o-transition:350ms linear all;transition:350ms linear all}#loading-bar.ng-enter,#loading-bar.ng-leave.ng-leave-active,#loading-bar-spinner.ng-enter,#loading-bar-spinner.ng-leave.ng-leave-active{opacity:0}#loading-bar.ng-enter.ng-enter-active,#loading-bar.ng-leave,#loading-bar-spinner.ng-enter.ng-enter-active,#loading-bar-spinner.ng-leave{opacity:1}#loading-bar .bar{-webkit-transition:width 350ms;-moz-transition:width 350ms;-o-transition:width 350ms;transition:width 350ms;background:#29d;position:fixed;z-index:10002;top:0;left:0;width:100%;height:2px;border-bottom-right-radius:1px;border-top-right-radius:1px}#loading-bar .peg{position:absolute;width:70px;right:0;top:0;height:2px;opacity:.45;-moz-box-shadow:#29d 1px 0 6px 1px;-ms-box-shadow:#29d 1px 0 6px 1px;-webkit-box-shadow:#29d 1px 0 6px 1px;box-shadow:#29d 1px 0 6px 1px;-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%}#loading-bar-spinner{display:block;position:fixed;z-index:10002;top:10px;left:10px}#loading-bar-spinner .spinner-icon{width:14px;height:14px;border:solid 2px transparent;border-top-color:#29d;border-left-color:#29d;border-radius:10px;-webkit-animation:loading-bar-spinner 400ms linear infinite;-moz-animation:loading-bar-spinner 400ms linear infinite;-ms-animation:loading-bar-spinner 400ms linear infinite;-o-animation:loading-bar-spinner 400ms linear infinite;animation:loading-bar-spinner 400ms linear infinite}@-webkit-keyframes loading-bar-spinner{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-moz-keyframes loading-bar-spinner{0%{-moz-transform:rotate(0deg);transform:rotate(0deg)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-o-keyframes loading-bar-spinner{0%{-o-transform:rotate(0deg);transform:rotate(0deg)}100%{-o-transform:rotate(360deg);transform:rotate(360deg)}}@-ms-keyframes loading-bar-spinner{0%{-ms-transform:rotate(0deg);transform:rotate(0deg)}100%{-ms-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes loading-bar-spinner{0%{transform:rotate(0deg);transform:rotate(0deg)}100%{transform:rotate(360deg);transform:rotate(360deg)}}