<div class="pg-article" ng-controller="TaggedCtrl">
	<div class="hero-cont">
		<img class="" src="img/hero2.jpg" alt="">

		{{crap.title}}
		<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eos laborum expedita incidunt minus. Dicta architecto qui, quis dolore dolorem aliquam consequatur quas voluptatibus eveniet, veniam in exercitationem, placeat ea!</h1>
	</div>

	<div class="uk-container uk-container-center">

		<div class="uk-grid matrix">
		
			<div class="uk-width-medium-1-3 clearfix each-card" ng-repeat="article in articles">

				
		        <div class="uk-panel uk-panel-box">

		        	<div class="uk-panel-teaser">
		        		<div ng-bind-html="article.field_hero_image | secureHtml"></div>
		        		<a href="#/article/{{article.nid}}" class="headings-p panel-header">
		        			
		        				{{article.title}}
		        		</a>
		        	</div>
		        	<div class="panel-content">
		        		
		        		<div ng-bind-html="article.body  | truncate:true:250:' ...' | secureHtml"></div>
		        	</div>

		        	<div class="ctags">
						<span ng-repeat="tag in article.ctags">
							<a ng-href="#/tag/{{tag}}">{{tag}}</a>
						</span>
					</div>
		
		        </div>
		    </div>

				
		</div>
	</div>

</div>
