.jumbo-blk {
	margin-top: -160px;
	text-align: center;
	width: 100%;
	color: #eee;
	.blk-title {
		font-size: 70px;
		line-height: 70px;
		font-family: 'Shadows Into Light', cursive;
	}
	.blk-desc {
		font-size: 30px;
		margin:30px auto;
		font-weight: 100;
		letter-spacing: 1px;
		line-height: 40px;
		width: 40%;
		display: inline-block;
		/*text-shadow:0px 0px 5px #333333;*/
	}
	.links-blk {
		padding:0px;
		/*font-family: 'Shadows Into Light', cursive;*/
		margin:0px;
		font-size: 28px;
		/*margin-top: 50px;*/

		li {
			display: inline-block;
			font-weight: bold;
			padding:0px 8px;
			/*margin-left: 10px;*/
			/*&:before {
				content:'\00B7';
				padding-right:25px;
			}*/
			/*&:first-child:before {
				content:'';
			}*/
			a {
				/*letter-spacing: 3px;*/
				/*color: #f26c68;*/
				background-color: #68f2bd;
				display: inline-block;
				width: 15px;
				height: 15px;
				border-radius: 50%;

			}
			&:first-child {
				a {
					background-color:#f26c68;
				}
			}
			&:nth-child(2) {
				a {
					background-color:#c65de0;
				}
			}
			&:last-child {
				a {
					background-color: #eaf268;
				}
			}
		}
	}
}

.hero-blk.home-alt {
	/*-webkit-filter: blur(5px);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(5px);*/
}