<div  ng-controller="DetailCtrl">

	<div class="hero-cont tagpg" style="background-image:url({{article.field_hero_image[1]}}); background-size:cover;">
		<!-- <div ng-bind-html="article.field_hero_image | secureHtml"></div> -->

		<!-- <h1></h1> -->

		<div class="hero-pg uk-height-1-1">
			<ng-include src="'templates/header.html'"></ng-include>
			<div class="uk-container uk-container-center">
				<div class="pgtitle"><span>{{article.title}} </span></div>
				<!-- <p class="uk-hidden-small" ng-bind-html="category.body | secureHtml"></p> -->
			</div>
		</div>
	</div>

	<div class="uk-container uk-container-center">
		<div class="uk-grid article-content">
			<div class="uk-width-7-10">
				<div ng-bind-html="article.body | secureHtml"></div>
			</div>

			<div class="uk-width-3-10">
				<div class="cnt-tags">
					<span ng-repeat="tag in article.ctags">
						<a ng-href="#/tag/{{tag}}">{{tag}}</a>
					</span>
				</div>
			</div>
		</div>
	</div>

	
</div>
