.article-content {
	margin: 100px 0px;
	font-size: 16px;
  	line-height: 24px;
  	h1 {
  		color: #336699;
  	}
	h2 {
		color: #3366cc;
	}
	h3 {
		color:#3366ff;
	}
}

.cnt-tags {
	span {
		display: inline-block;
		padding:8px 16px;
		background-color: #777;
		border-radius: 4px;
		margin:0px 10px 10px 0px;
		a {
			color: #eee;
			font-weight: 300;
			letter-spacing: 1px;
			&:hover {
				text-decoration:none;
				color: #fff;
			}
		}
	}
}