<div class="footer-blk">
	<div class="uk-container uk-container-center ">
		<ul class="footer-links">
			
			<li>
				<a ng-href="#/category/leadership">Leadership</a>
			</li>
			<li>
				<a ng-href="#/category/design">Design</a>
			</li>
			<li>
				<a ng-href="#/category/life">Life</a>
			</li>
		</ul>

		<div class="uk-text-center footer-copy">
				&copy; 2015 | DesignJedi - Jim Nieters portfolio
			</div>
		
		<ul class="footer-nav">
			<li>
				<a ng-href="#/articles/leadership"><i class="uk-icon-envelope"></i></a>
			</li>
			
			<li>
				<a ng-href="#/articles/leadership"><i class="uk-icon-linkedin"></i></a>
			</li>
			<li>
				<a ng-href="#/articles/leadership"><i class="uk-icon-facebook"></i></a>
			</li>
			<li>
				<a ng-href="#/articles/leadership"><i class="uk-icon-twitter"></i></a>
			</li>
			<li>
				<a ng-href="#/articles/leadership"><i class="uk-icon-google-plus"></i></a>
			</li>
			<li>
				<a ng-href="#/articles/leadership"><i class="uk-icon-user"></i></a>
			</li>
		</ul>
		<!-- <div class="clearfix">
			
		</div> -->


	</div>
</div>