<div class="footer-blk">
	<div class="uk-container uk-container-center ">
		<ul class="footer-links">
			
			<li>
				<a ng-href="#/category/leadership">Leadership</a>
			</li>
			<li>
				<a ng-href="#/category/design">Design</a>
			</li>
			<li>
				<a ng-href="#/category/life">Life</a>
			</li>
			<li>
				<a ng-href="#/category/life">About</a>
			</li>
		</ul>

		
		
		<ul class="footer-nav">
			<li>
				<a target="_blank" href="mailto:jnieters@mac.com"><i class="uk-icon-envelope"></i></a>
			</li>
			
			<li>
				<a target="_blank" href="https://www.linkedin.com/in/jimnieters/en"><i class="uk-icon-linkedin"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://www.facebook.com/JimNieters"><i class="uk-icon-facebook"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://twitter.com/jimnieters"><i class="uk-icon-twitter"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://plus.google.com/118351713961437921299/posts"><i class="uk-icon-google-plus"></i></a>
			</li>
			<li>
				<a target="_blank" href="https://about.me/jnieters"><i class="uk-icon-user"></i></a>
			</li>
		</ul>

		<div class="uk-text-center footer-copy">
			&copy; 2015 | DesignJedi - Jim Nieters portfolio
		</div>
		<!-- <div class="clearfix">
			
		</div> -->


	</div>
</div>